# Terraform
**/.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Secrets / creds
*.json
!package.json
!package-lock.json
*.pem
*.key
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
